<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Survey - Create</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/ui/survey/dashboard">Home</a>
            </li>
            <li>
                <a>Survey</a>
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Survey</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div id="surveyContainer">
                        <div id="editorElement"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    Survey.Survey.cssType = 'bootstrap';
    Survey.defaultBootstrapCss.navigationButton = 'btn btn-green';

    Survey.JsonObject.metaData.addProperty('survey', { name: 'identifier:number', default: null });
    Survey.JsonObject.metaData.addProperty('page', { name: 'identifier:number', default: null });
    Survey.JsonObject.metaData.addProperty('questionbase', { name: 'identifier:number', default: null });

    var editorOptions = { questionTypes: ['boolean', 'checkbox', 'comment', 'dropdown', 'radiogroup', 'rating', 'text'] };
    var editor = new SurveyEditor.SurveyEditor('editorElement', editorOptions);

    editor.saveSurveyFunc = function () {

        var json = JSON.parse(editor.text);

        $.ajax({
            type: 'POST',
            url: `/api/survey/create`,
            data: JSON.stringify(json),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                window.location = `/ui/survey/edit?surveyId=${data.identifier}`;
            },
            failure: function (err) {
                alert(err);
            }
        });
    }

</script>