<div class="form-group row">
    <div class="col-lg-8">
        <input type="text" class="form-control parsley-error" placeholder="Enter the text of your question" data-parsley-required=""
            data-parsley-id="7">
        <ul class="parsley-errors-list filled" id="parsley-id-7">
            <li class="parsley-required">This value is required.</li>
        </ul>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-warning" type="button" onclick="onClickRemoveMultipleChoiceQuestion(this)">Remove</button>
    </div>
</div>